@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  /* scroll-snap-type: y mandatory; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-[#0054AC] via-hpi-blue-dark to-[#000102] text-transparent bg-clip-text;
  }
}

@layer base {
  ul {
    @apply list-disc pl-4 pt-2;
  }

  li {
    @apply pt-6;
  }
}

@layer components {
  .list-blue li {
    padding-top: 0.5em
  }

  .list-blue li::marker {
    color: #009BDE;
  }
}

/* Ocultar las flechas predeterminadas en todos los navegadores */
details summary {
  list-style: none; /* Elimina la lista de estilo */
}

details summary::-webkit-details-marker {
  display: none; /* Oculta la flecha en navegadores basados en WebKit (Chrome, Safari, etc.) */
}

details summary::marker {
  display: none; /* Oculta la flecha en Firefox */
}